.logo{
    border-radius: 1rem;
    border: 2px solid white;
}
.card-contains{
    display: flex;
}
/* -------------------------------------- */
.news-container{
    display: flex;

}
.bold-font{
    font-size: 1rem;
    font-weight: normal;
}
.news-heading{
    font-weight: bold;
}
.anchor{
    text-decoration: none;
    color: black;
}
.anchor:hover{
    text-decoration: none;
    color: rgb(38, 0, 255);
    cursor: pointer;
}
.read-cursor{
    cursor:text;  
}
.under-line{
    opacity: 0.8;
}
.under-line:hover{
text-decoration: underline;
color: rgb(0, 0, 255);
opacity: 1;
}
/* also read css */
.alos-read{
    font-size: 2rem;
}
.also-liked{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.also-read-card{
    width: 25%;
    /* border: 1px solid mediumblue; */
    position: relative;
}
.also-read-card-text {
    position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  
  }

@media only screen and (max-width: 575px) {
    .card-contains img{
        display: block;
        margin: auto;
        width: 4rem;
        height: 4rem;
    }
    .news-description,.last-update{
        display: none;
    }
    .complete-card{
        padding: 0rem 0.2rem;
        margin: 0px;
    }
    .news-heading{
        font-size: 0.8rem;
        font-weight: normal;
    }
    .news-text{
        padding: 0.5rem;
    }
    .full-card:hover{
   background-color: rgb(248, 248, 247);
    }
    .also-read-card-text {       
      padding: 1px;
      }
      .also-read-card-text h6{       
        font-size: 0.5rem;
        }
        .alos-read{
            font-size: 1rem;
        }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .alos-read{
        font-size: 1rem;
    }
    .also-read-card-text {       
        padding: 0rem 0.4rem;
        }
        .also-read-card-text h6{       
            font-size: 0.5rem;
        }
   
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .alos-read{
        font-size: 1.4rem;
    }
    .also-read-card-text {       
        padding: 0.4rem 0.4rem;
        }
        .also-read-card-text h6{       
            font-size: 0.9rem;
        }
   
}
